<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WatchmeRide API</title>
</head>
<body>
    <h1>BONJOUR ! Bienvenur sur l'API de WatchMeRide</h1>
    <h3>Documentation</h3>
    <h4>Liste des Routes</h4>
    <ul>
        <li>
            <h5>Cavaliers</h5>
           <h5>Liste de tous les cavaliers</h5>
            <ul>
               <li>Methode: GET</li>
               <li>Route: <a href="/cavaliers">/cavaliers</a></li>
            </ul>

           <h5>Sélection un cavalier</h5>
            <ul>
               <li>Methode: GET</li>
               <li>Route: <a href="/cavaliers/1">/cavaliers/"cavalier_id"</a></li>
            </ul>

           <h5>Enregistrer un cavalier</h5>
            <ul>
               <li>Methode: POST</li>
               <li>Route: <a href="/cavaliers">/cavaliers/"cavalier_id"</a></li>
               <li>

               </li>
            </ul>
        </li>
    </ul>

</body>
</html>